<html>
<!-- THIS HAS MOSTLY BEEN UPDATED!!! -->

<body>
    <input id="search_field" type="text" placeholder="Search activites by name..." value={{{ search-term }}}>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script>
    </script>

    <div id="recent_title">Recently Posted Activities</div>
    {{#each data}}
    <table class="activities" name="{{ name }}" id="{{ name }}">
        <div class="activity">
            <tr class="activity_name">
                <td> {{ name }}</td>
            </tr>
            <tr class="hype">
                <td> Hype Rating: {{ hype }}/10 </td>
            </tr>
            <tr class="author">
                <td> Hosted by {{ author }} </td>
            </tr>
            <tr class="description">
                <td> {{ description }} </td>
            </tr>
            <tr class="where">
                <td> At {{ where }} </td>
            </tr>
            <tr class="when">
                <td> Starts {{ when }} </td>
            </tr>
        </div>
        {{#each comments}}
        <div class="comment">
            <tr class="underline_text">
                <td>Commenter:</td>
                <td>{{ author }}</td>
            </tr>
            <tr>
                <td>Hype Rating:</td>
                <td>{{ hypeRating }}/10</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>{{ comment }}</td>
            </tr>
        </div>
        {{/each}}
        <div class="comment_adder">
            <form method="POST" action="/add/activity/{{ id }}/comment">
                <div class="input_number">
                    <input type="number" min=0 max=10 name="hypeRating" size="50" placeholder="Hype">
                </div>
                <div class="input-text1">
                    <input type="text" name="comment" size="20" placeholder="Your comment...">
                </div>
                <div class="input_text2">
                    <input type="text" name="author" size="20" placeholder="Your name...">
                </div>
                <div class="submit_comment">
                    <button type="submit">Submit a comment!</button>
                </div>
            </form>
        </div>

        <tr class="id">
            <td>Activity ID:</td>
            <td> {{ id }}</td>
        </tr>
    </table>
    {{/each}}

    <p id="NoResults">
        {{search_msg}}
    </p>

    <script>
        $("#search_field").on("keyup", function () {
            console.log("keyup");
            var search_term = $("#search_field").val().toLowerCase();
            var elems = document.getElementsByClassName("activities");

            for (var i = 0; i < elems.length; i++) {
                console.log(elems[i].id.toLowerCase());
                if (!elems[i].id.toLowerCase().includes(search_term)) {
                    console.log("we should hide this" + elems[i].id);
                    elems[i].setAttribute("style", "display: none");

                }
                else {
                    elems[i].setAttribute("style", "display: block");

                }
            }
            $("#NoResults").setAttribute("style", "display: block");
            for (var i = 0; i < elems.length; i++) {
                if (elems[i].getAttribute("style") != "display: none") {
                    $("#NoResults").setAttribute("style", "display: none");
                }
            }
        });
    </script>
</body>

</html>